
alias ff='fastfetch'

alias la='ls -al --color'
alias ls='ls -l --color=auto'
alias lf='y'
alias grep='grep --color=auto'
alias cl='clear'
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

export PATH="$PATH:/home/fenrir/.local/bin"
export MANPAGER="nvim +Man!"
. "$HOME/.cargo/env"
